<h4>Comments</h4>
<ul class="list-unstyled mt-4">
    <li class="media">
        <img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image" width="50" height="50">
    
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <!-- <div class="d-flex flex-row">
          <div class="p-2">Like</div>
          <div class="p-2">Replay</div>
          <div class="p-2">Share</div>
        </div> -->
    </li>
    <li class="media my-4">

        <img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Generic placeholder image" width="50" height="50">
        
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
    <li class="media my-4 my-4">
        <img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image" width="50" height="50">
            <div class="media-body">
                <h5 class="mt-0 mb-1">List-based media object</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
    </li>
    <li class="media reply my-4">
    	<img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Generic placeholder image" width="50" height="50">
            <div class="media-body">
               	<h5 class="mt-0 mb-1">List-based media object</h5>
               	<textarea class="form-control"></textarea>
               	<button class="btn btn-primary m-3 float-right">Send</button>
            </div>
    </li>
</ul>